*.o
*.a
*.so
autom4te.cache
configure
config.log
confdefs.h
aclocal.m4
config.status
config.mk
lib/pc_config.h

Makefile
*/Makefile
*/*/Makefile
pgsql/pointcloud.control
pgsql/pointcloud--*
pgsql_postgis/pointcloud_postgis.control
pgsql_postgis/pointcloud_postgis--*

pgsql/pc_access.bc
pgsql/pc_editor.bc
pgsql/pc_inout.bc
pgsql/pc_pgsql.bc

venv
doc/build
doc/__pycache__/

**/.DS_Store
