/**
 * @brief {BRIEF}
 * @sqlfn eDwithin(), aDwithin()
 */
static Datum
EA_dwithin_{DIR}(FunctionCallInfo fcinfo, bool ever)
{
{DECLS}
  double dist = PG_GETARG_FLOAT8(2);
{RESULT}
{FREES}
  if (result < 0)
    PG_RETURN_NULL();
  PG_RETURN_BOOL(result);
}
