/*****************************************************************************
 *
 * This MobilityDB code is provided under The PostgreSQL License.
 * Copyright (c) 2016-2025, Université libre de Bruxelles and MobilityDB
 * contributors
 *
 * MobilityDB includes portions of PostGIS version 3 source code released
 * under the GNU General Public License (GPLv2 or later).
 * Copyright (c) 2001-2025, PostGIS contributors
 *
 * Permission to use, copy, modify, and distribute this software and its
 * documentation for any purpose, without fee, and without a written
 * agreement is hereby granted, provided that the above copyright notice and
 * this paragraph and the following two paragraphs appear in all copies.
 *
 * IN NO EVENT SHALL UNIVERSITE LIBRE DE BRUXELLES BE LIABLE TO ANY PARTY FOR
 * DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING
 * LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION,
 * EVEN IF UNIVERSITE LIBRE DE BRUXELLES HAS BEEN ADVISED OF THE POSSIBILITY
 * OF SUCH DAMAGE.
 *
 * UNIVERSITE LIBRE DE BRUXELLES SPECIFICALLY DISCLAIMS ANY WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY
 * AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER IS ON
 * AN "AS IS" BASIS, AND UNIVERSITE LIBRE DE BRUXELLES HAS NO OBLIGATIONS TO
 * PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.
 *
 *****************************************************************************/

/**
 * @file
 * @brief GiST operator class for `{TEMP}`.
 *
 * The bounding box of a `{TEMP}` value is the cell's spatiotemporal `stbox`, so
 * the opclass is STORAGE stbox and indexes the topological / positional / time
 * operators through that box (the tgeompoint / tcbuffer pattern).
 *
 * The consistent / compress support functions are the generic
 * `Stbox_gist_consistent` and `tspatial_gist_compress` symbols; all four
 * stbox-level helpers (`stbox_gist_union` / `penalty` / `picksplit` / `same`)
 * are reused directly. No new C symbols are introduced.
 */

/******************************************************************************
 * Support functions ({TEMP}-typed wrappers)
 ******************************************************************************/

CREATE FUNCTION {TEMP}_gist_consistent(internal, {TEMP}, smallint, oid, internal)
  RETURNS bool
  AS 'MODULE_PATHNAME', 'Stbox_gist_consistent'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

/******************************************************************************
 * Operator class
 ******************************************************************************/

CREATE OPERATOR CLASS {TEMP}_rtree_ops
  DEFAULT FOR TYPE {TEMP} USING gist AS
  STORAGE stbox,
  -- strictly left
  OPERATOR  1    << ({TEMP}, stbox),
  OPERATOR  1    << ({TEMP}, {TEMP}),
  -- overlaps or left
  OPERATOR  2    &< ({TEMP}, stbox),
  OPERATOR  2    &< ({TEMP}, {TEMP}),
  -- overlaps
  OPERATOR  3    && ({TEMP}, tstzspan),
  OPERATOR  3    && ({TEMP}, stbox),
  OPERATOR  3    && ({TEMP}, {TEMP}),
  -- overlaps or right
  OPERATOR  4    &> ({TEMP}, stbox),
  OPERATOR  4    &> ({TEMP}, {TEMP}),
  -- strictly right
  OPERATOR  5    >> ({TEMP}, stbox),
  OPERATOR  5    >> ({TEMP}, {TEMP}),
  -- same
  OPERATOR  6    ~= ({TEMP}, tstzspan),
  OPERATOR  6    ~= ({TEMP}, stbox),
  OPERATOR  6    ~= ({TEMP}, {TEMP}),
  -- contains
  OPERATOR  7    @> ({TEMP}, tstzspan),
  OPERATOR  7    @> ({TEMP}, stbox),
  OPERATOR  7    @> ({TEMP}, {TEMP}),
  -- contained by
  OPERATOR  8    <@ ({TEMP}, tstzspan),
  OPERATOR  8    <@ ({TEMP}, stbox),
  OPERATOR  8    <@ ({TEMP}, {TEMP}),
  -- overlaps or below
  OPERATOR  9    &<| ({TEMP}, stbox),
  OPERATOR  9    &<| ({TEMP}, {TEMP}),
  -- strictly below
  OPERATOR  10    <<| ({TEMP}, stbox),
  OPERATOR  10    <<| ({TEMP}, {TEMP}),
  -- strictly above
  OPERATOR  11    |>> ({TEMP}, stbox),
  OPERATOR  11    |>> ({TEMP}, {TEMP}),
  -- overlaps or above
  OPERATOR  12    |&> ({TEMP}, stbox),
  OPERATOR  12    |&> ({TEMP}, {TEMP}),
  -- adjacent
  OPERATOR  17    -|- ({TEMP}, tstzspan),
  OPERATOR  17    -|- ({TEMP}, stbox),
  OPERATOR  17    -|- ({TEMP}, {TEMP}),
  -- overlaps or before
  OPERATOR  28    &<# ({TEMP}, tstzspan),
  OPERATOR  28    &<# ({TEMP}, stbox),
  OPERATOR  28    &<# ({TEMP}, {TEMP}),
  -- strictly before
  OPERATOR  29    <<# ({TEMP}, tstzspan),
  OPERATOR  29    <<# ({TEMP}, stbox),
  OPERATOR  29    <<# ({TEMP}, {TEMP}),
  -- strictly after
  OPERATOR  30    #>> ({TEMP}, tstzspan),
  OPERATOR  30    #>> ({TEMP}, stbox),
  OPERATOR  30    #>> ({TEMP}, {TEMP}),
  -- overlaps or after
  OPERATOR  31    #&> ({TEMP}, tstzspan),
  OPERATOR  31    #&> ({TEMP}, stbox),
  OPERATOR  31    #&> ({TEMP}, {TEMP}),
  -- functions
  FUNCTION  1 {TEMP}_gist_consistent(internal, {TEMP}, smallint, oid, internal),
  FUNCTION  2 stbox_gist_union(internal, internal),
  FUNCTION  3 tspatial_gist_compress(internal),
  FUNCTION  5 stbox_gist_penalty(internal, internal, internal),
  FUNCTION  6 stbox_gist_picksplit(internal, internal),
  FUNCTION  7 stbox_gist_same(stbox, stbox, internal);

/******************************************************************************/
