@LICENSE@

/**
 * @file
 * @brief GiST operator class for `{TEMP}`
 * @details The bounding box of a `{TEMP}` value is the spatiotemporal box of
 * its cell, so the operator class stores an `stbox` and indexes the
 * topological, position and time operators through that box, as the operator
 * classes of `tgeompoint` and `tcbuffer` do. The consistent and compress
 * support functions are `Stbox_gist_consistent` and `tspatial_gist_compress`,
 * and the union, penalty, picksplit and same functions are those of `stbox`.
 */

/******************************************************************************
 * Support functions ({TEMP}-typed wrappers)
 ******************************************************************************/

CREATE FUNCTION {TEMP}_gist_consistent(internal, {TEMP}, smallint, oid, internal)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Stbox_gist_consistent'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

/******************************************************************************
 * Operator class
 ******************************************************************************/

CREATE OPERATOR CLASS {TEMP}_rtree_ops
  DEFAULT FOR TYPE {TEMP} USING gist AS
  STORAGE stbox,
  -- strictly left
  OPERATOR  1    << ({TEMP}, stbox),
  OPERATOR  1    << ({TEMP}, {TEMP}),
  -- overlaps or left
  OPERATOR  2    &< ({TEMP}, stbox),
  OPERATOR  2    &< ({TEMP}, {TEMP}),
  -- overlaps
  OPERATOR  3    && ({TEMP}, tstzspan),
  OPERATOR  3    && ({TEMP}, stbox),
  OPERATOR  3    && ({TEMP}, {TEMP}),
  -- overlaps or right
  OPERATOR  4    &> ({TEMP}, stbox),
  OPERATOR  4    &> ({TEMP}, {TEMP}),
  -- strictly right
  OPERATOR  5    >> ({TEMP}, stbox),
  OPERATOR  5    >> ({TEMP}, {TEMP}),
  -- same
  OPERATOR  6    ~= ({TEMP}, tstzspan),
  OPERATOR  6    ~= ({TEMP}, stbox),
  OPERATOR  6    ~= ({TEMP}, {TEMP}),
  -- contains
  OPERATOR  7    @> ({TEMP}, tstzspan),
  OPERATOR  7    @> ({TEMP}, stbox),
  OPERATOR  7    @> ({TEMP}, {TEMP}),
  -- contained by
  OPERATOR  8    <@ ({TEMP}, tstzspan),
  OPERATOR  8    <@ ({TEMP}, stbox),
  OPERATOR  8    <@ ({TEMP}, {TEMP}),
  -- overlaps or below
  OPERATOR  9    &<| ({TEMP}, stbox),
  OPERATOR  9    &<| ({TEMP}, {TEMP}),
  -- strictly below
  OPERATOR  10    <<| ({TEMP}, stbox),
  OPERATOR  10    <<| ({TEMP}, {TEMP}),
  -- strictly above
  OPERATOR  11    |>> ({TEMP}, stbox),
  OPERATOR  11    |>> ({TEMP}, {TEMP}),
  -- overlaps or above
  OPERATOR  12    |&> ({TEMP}, stbox),
  OPERATOR  12    |&> ({TEMP}, {TEMP}),
  -- adjacent
  OPERATOR  17    -|- ({TEMP}, tstzspan),
  OPERATOR  17    -|- ({TEMP}, stbox),
  OPERATOR  17    -|- ({TEMP}, {TEMP}),
  -- overlaps or before
  OPERATOR  28    &<# ({TEMP}, tstzspan),
  OPERATOR  28    &<# ({TEMP}, stbox),
  OPERATOR  28    &<# ({TEMP}, {TEMP}),
  -- strictly before
  OPERATOR  29    <<# ({TEMP}, tstzspan),
  OPERATOR  29    <<# ({TEMP}, stbox),
  OPERATOR  29    <<# ({TEMP}, {TEMP}),
  -- strictly after
  OPERATOR  30    #>> ({TEMP}, tstzspan),
  OPERATOR  30    #>> ({TEMP}, stbox),
  OPERATOR  30    #>> ({TEMP}, {TEMP}),
  -- overlaps or after
  OPERATOR  31    #&> ({TEMP}, tstzspan),
  OPERATOR  31    #&> ({TEMP}, stbox),
  OPERATOR  31    #&> ({TEMP}, {TEMP}),
  -- functions
  FUNCTION  1 {TEMP}_gist_consistent(internal, {TEMP}, smallint, oid, internal),
  FUNCTION  2 stbox_gist_union(internal, internal),
  FUNCTION  3 tspatial_gist_compress(internal),
  FUNCTION  5 stbox_gist_penalty(internal, internal, internal),
  FUNCTION  6 stbox_gist_picksplit(internal, internal),
  FUNCTION  7 stbox_gist_same(stbox, stbox, internal),
  FUNCTION 11 stbox_gist_sortsupport(internal);

/******************************************************************************/
