@LICENSE@

/**
 * @file
 * @brief Relative position operators for {BRIEF}
 */

/*****************************************************************************
 * tstzspan
 *****************************************************************************/

/* tstzspan op {TEMP} */

CREATE FUNCTION stboxBefore(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Before_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbefore(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbefore_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAfter(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'After_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverafter(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overafter_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR <<# (
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  PROCEDURE = stboxBefore,
  COMMUTATOR = #>>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<# (
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverbefore,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #>> (
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  PROCEDURE = stboxAfter,
  COMMUTATOR = <<#,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #&> (
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverafter,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * stbox
 *****************************************************************************/

CREATE FUNCTION stboxLeft(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Left_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverleft(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overleft_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxRight(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Right_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverright(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overright_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBelow(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Below_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbelow(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbelow_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAbove(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Above_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverabove(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overabove_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @IF front_back
CREATE FUNCTION stboxFront(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Front_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverfront(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overfront_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBack(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Back_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverback(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overback_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
CREATE FUNCTION stboxBefore(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Before_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbefore(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbefore_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAfter(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'After_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverafter(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overafter_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR << (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxLeft,
  COMMUTATOR = '>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &< (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverleft,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR >> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxRight,
  COMMUTATOR = '<<',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverright,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <<| (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxBelow,
  COMMUTATOR = '|>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<| (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverbelow,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |>> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxAbove,
  COMMUTATOR = '<<|',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |&> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverabove,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @IF front_back
CREATE OPERATOR <</ (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxFront,
  COMMUTATOR = '/>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &</ (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverfront,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR />> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxBack,
  COMMUTATOR = '<</',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR /&> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverback,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @ENDIF
CREATE OPERATOR <<# (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxBefore,
  COMMUTATOR = '#>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<# (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverbefore,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #>> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxAfter,
  COMMUTATOR = '<<#',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #&> (
  LEFTARG = stbox, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverafter,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * {TEMP}
 *****************************************************************************/

/* {TEMP} op tstzspan */

CREATE FUNCTION stboxBefore({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Before_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbefore({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbefore_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAfter({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'After_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverafter({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overafter_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR <<# (
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  PROCEDURE = stboxBefore,
  COMMUTATOR = #>>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<# (
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  PROCEDURE = stboxOverbefore,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #>> (
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  PROCEDURE = stboxAfter,
  COMMUTATOR = <<#,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #&> (
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  PROCEDURE = stboxOverafter,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

/* {TEMP} op stbox */

CREATE FUNCTION stboxLeft({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Left_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverleft({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overleft_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxRight({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Right_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverright({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overright_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBelow({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Below_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbelow({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbelow_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAbove({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Above_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverabove({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overabove_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @IF front_back
CREATE FUNCTION stboxFront({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Front_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverfront({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overfront_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBack({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Back_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverback({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overback_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
CREATE FUNCTION stboxBefore({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Before_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbefore({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbefore_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAfter({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'After_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverafter({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overafter_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR << (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxLeft,
  COMMUTATOR = '>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &< (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverleft,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR >> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxRight,
  COMMUTATOR = '<<',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverright,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <<| (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxBelow,
  COMMUTATOR = '|>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<| (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverbelow,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |>> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxAbove,
  COMMUTATOR = '<<|',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |&> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverabove,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @IF front_back
CREATE OPERATOR <</ (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxFront,
  COMMUTATOR = '/>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &</ (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverfront,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR />> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxBack,
  COMMUTATOR = '<</',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR /&> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverback,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @ENDIF
CREATE OPERATOR <<# (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxBefore,
  COMMUTATOR = '#>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<# (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverbefore,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #>> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxAfter,
  COMMUTATOR = '<<#',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #&> (
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  PROCEDURE = stboxOverafter,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

/* {TEMP} op {TEMP} */

CREATE FUNCTION stboxLeft({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Left_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverleft({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overleft_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxRight({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Right_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverright({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overright_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBelow({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Below_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbelow({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbelow_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAbove({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Above_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverabove({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overabove_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @IF front_back
CREATE FUNCTION stboxFront({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Front_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverfront({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overfront_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxBack({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Back_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverback({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overback_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
CREATE FUNCTION stboxBefore({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Before_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverbefore({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overbefore_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAfter({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'After_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverafter({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overafter_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR << (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxLeft,
  COMMUTATOR = '>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &< (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverleft,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR >> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxRight,
  COMMUTATOR = '<<',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverright,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <<| (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxBelow,
  COMMUTATOR = '|>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<| (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverbelow,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |>> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxAbove,
  COMMUTATOR = '<<|',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR |&> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverabove,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @IF front_back
CREATE OPERATOR <</ (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxFront,
  COMMUTATOR = '/>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &</ (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverfront,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR />> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxBack,
  COMMUTATOR = '<</',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR /&> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverback,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
-- @ENDIF
CREATE OPERATOR <<# (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxBefore,
  COMMUTATOR = '#>>',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR &<# (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverbefore,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #>> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxAfter,
  COMMUTATOR = '<<#',
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR #&> (
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  PROCEDURE = stboxOverafter,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/
