/*****************************************************************************
 * {BANNER}
 *****************************************************************************/

PGDLLEXPORT Datum {FN}(PG_FUNCTION_ARGS);
PG_FUNCTION_INFO_V1({FN});
/**
 * @ingroup {INGROUP}
 * @brief {BRIEF}
 * @sqlfn {SQLFN}()
 */
inline Datum
{FN}(PG_FUNCTION_ARGS)
{
{RETURN}
}
