/*****************************************************************************
 *
 * This MobilityDB code is provided under The PostgreSQL License.
 * Copyright (c) 2016-2026, Université libre de Bruxelles and MobilityDB
 * contributors
 *
 * MobilityDB includes portions of PostGIS version 3 source code released
 * under the GNU General Public License (GPLv2 or later).
 * Copyright (c) 2001-2026, PostGIS contributors
 *
 * Permission to use, copy, modify, and distribute this software and its
 * documentation for any purpose, without fee, and without a written
 * agreement is hereby granted, provided that the above copyright notice
 * and this paragraph and the following two paragraphs appear in all
 * copies.
 *
 * IN NO EVENT SHALL UNIVERSITE LIBRE DE BRUXELLES BE LIABLE TO ANY PARTY
 * FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES,
 * INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND
 * ITS DOCUMENTATION, EVEN IF UNIVERSITE LIBRE DE BRUXELLES HAS BEEN
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * UNIVERSITE LIBRE DE BRUXELLES SPECIFICALLY DISCLAIMS ANY WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE
 * PROVIDED HEREUNDER IS ON AN "AS IS" BASIS, AND UNIVERSITE LIBRE DE
 * BRUXELLES HAS NO OBLIGATIONS TO PROVIDE MAINTENANCE, SUPPORT,
 * UPDATES, ENHANCEMENTS, OR MODIFICATIONS.
 *
 *****************************************************************************/

{DOC}

/*****************************************************************************
 * Ever/always contains
 *****************************************************************************/

CREATE FUNCTION eContains(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eContains($1, {CV2}) $$;
CREATE FUNCTION aContains(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aContains($1, {CV2}) $$;
-- @IFNOT point_target

CREATE FUNCTION eContains({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eContains({CV1}, $2) $$;
CREATE FUNCTION aContains({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aContains({CV1}, $2) $$;
-- @ENDIF
-- @IFNOT point_target

CREATE FUNCTION eContains({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eContains({CV1},
                          {CV2}) $$;
CREATE FUNCTION aContains({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aContains({CV1},
                          {CV2}) $$;
-- @ENDIF

/*****************************************************************************
 * Ever/always covers
 *****************************************************************************/

CREATE FUNCTION eCovers(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eCovers($1, {CV2}) $$;
CREATE FUNCTION aCovers(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aCovers($1, {CV2}) $$;
-- @IFNOT point_target

CREATE FUNCTION eCovers({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eCovers({CV1}, $2) $$;
CREATE FUNCTION aCovers({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aCovers({CV1}, $2) $$;
-- @ENDIF
-- @IFNOT point_target

CREATE FUNCTION eCovers({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eCovers({CV1},
                        {CV2}) $$;
CREATE FUNCTION aCovers({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aCovers({CV1},
                        {CV2}) $$;
-- @ENDIF

/*****************************************************************************
 * Ever/always disjoint
 *****************************************************************************/

CREATE FUNCTION eDisjoint(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDisjoint($1, {CV2}) $$;
CREATE FUNCTION aDisjoint(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDisjoint($1, {CV2}) $$;

CREATE FUNCTION eDisjoint({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDisjoint({CV1}, $2) $$;
CREATE FUNCTION aDisjoint({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDisjoint({CV1}, $2) $$;

CREATE FUNCTION eDisjoint({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDisjoint({CV1},
                          {CV2}) $$;
CREATE FUNCTION aDisjoint({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDisjoint({CV1},
                          {CV2}) $$;

/*****************************************************************************
 * Ever/always intersects
 *****************************************************************************/

-- @IF index_support
CREATE FUNCTION eIntersects(geometry, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Eintersects_geo_{TEMP}'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eIntersects(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eIntersects($1, {CV2}) $$;
-- @ENDIF
CREATE FUNCTION aIntersects(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aIntersects($1, {CV2}) $$;

-- @IF index_support
CREATE FUNCTION eIntersects({TEMP}, geometry)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Eintersects_{TEMP}_geo'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eIntersects({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eIntersects({CV1}, $2) $$;
-- @ENDIF
CREATE FUNCTION aIntersects({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aIntersects({CV1}, $2) $$;

-- @IF index_support
CREATE FUNCTION eIntersects({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Eintersects_{TEMP}_{TEMP}'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eIntersects({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eIntersects({CV1},
                            {CV2}) $$;
-- @ENDIF
CREATE FUNCTION aIntersects({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aIntersects({CV1},
                            {CV2}) $$;

/*****************************************************************************
 * Ever/always touches
 *****************************************************************************/

CREATE FUNCTION eTouches(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eTouches($1, {CV2}) $$;
CREATE FUNCTION aTouches(geometry, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aTouches($1, {CV2}) $$;

CREATE FUNCTION eTouches({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eTouches({CV1}, $2) $$;
CREATE FUNCTION aTouches({TEMP}, geometry)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aTouches({CV1}, $2) $$;
-- @IFNOT point_target

CREATE FUNCTION eTouches({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eTouches({CV1},
                         {CV2}) $$;
CREATE FUNCTION aTouches({TEMP}, {TEMP})
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aTouches({CV1},
                         {CV2}) $$;
-- @ENDIF

/*****************************************************************************
 * Ever/always dwithin
 *****************************************************************************/

-- @IF index_support
CREATE FUNCTION eDwithin(geometry, {TEMP}, dist float)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Edwithin_geo_{TEMP}'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eDwithin(geometry, {TEMP}, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDwithin($1, {CV2}, $3) $$;
-- @ENDIF
CREATE FUNCTION aDwithin(geometry, {TEMP}, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDwithin($1, {CV2}, $3) $$;

-- @IF index_support
CREATE FUNCTION eDwithin({TEMP}, geometry, dist float)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Edwithin_{TEMP}_geo'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eDwithin({TEMP}, geometry, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDwithin({CV1}, $2, $3) $$;
-- @ENDIF
CREATE FUNCTION aDwithin({TEMP}, geometry, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDwithin({CV1}, $2, $3) $$;

-- @IF index_support
CREATE FUNCTION eDwithin({TEMP}, {TEMP}, dist float)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Edwithin_{TEMP}_{TEMP}'
  SUPPORT tspatial_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF
-- @IFNOT index_support
CREATE FUNCTION eDwithin({TEMP}, {TEMP}, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.eDwithin({CV1},
                         {CV2}, $3) $$;
-- @ENDIF
CREATE FUNCTION aDwithin({TEMP}, {TEMP}, dist float)
  RETURNS boolean
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE
  AS $$ SELECT @extschema@.aDwithin({CV1},
                         {CV2}, $3) $$;

/*****************************************************************************/
