@LICENSE@

/**
 * @file
 * @brief Bounding box operators for {BRIEF}
 */

-- @IF box_extraction
/*****************************************************************************
 * Temporal {BASE} to stbox
 *****************************************************************************/

-- @IF scalar_stbox_cast
CREATE FUNCTION stbox({BASE})
  RETURNS stbox
  AS 'MODULE_PATHNAME', '{CBASE}_to_stbox'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE FUNCTION stbox({BASE}, timestamptz)
  RETURNS stbox
  AS 'MODULE_PATHNAME', '{CBASE}_timestamptz_to_stbox'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE FUNCTION stbox({BASE}, tstzspan)
  RETURNS stbox
  AS 'MODULE_PATHNAME', '{CBASE}_tstzspan_to_stbox'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
-- @ENDIF

CREATE FUNCTION stbox({TEMP})
  RETURNS stbox
  AS 'MODULE_PATHNAME', 'Tspatial_to_stbox'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

-- @IF scalar_stbox_cast
CREATE CAST ({BASE} AS stbox) WITH FUNCTION stbox({BASE});
-- @ENDIF
CREATE CAST ({TEMP} AS stbox) WITH FUNCTION stbox({TEMP});

/*****************************************************************************/

-- @IF stboxes
CREATE FUNCTION stboxes({TEMP})
  RETURNS stbox[]
  AS 'MODULE_PATHNAME', 'Tgeo_stboxes'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE FUNCTION splitNStboxes({TEMP}, integer)
  RETURNS stbox[]
  AS 'MODULE_PATHNAME', 'Tgeo_split_n_stboxes'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE FUNCTION splitEachNStboxes({TEMP}, integer)
  RETURNS stbox[]
  AS 'MODULE_PATHNAME', 'Tgeo_split_each_n_stboxes'
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

/*****************************************************************************/

-- @ENDIF
CREATE FUNCTION expandSpace({TEMP}, float)
  RETURNS stbox
  AS 'SELECT @extschema@.expandSpace($1::stbox, $2)'
  LANGUAGE SQL IMMUTABLE STRICT PARALLEL SAFE;

-- @ENDIF
/*****************************************************************************
 * Contains
 *****************************************************************************/

CREATE FUNCTION stboxContains(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contains_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContains({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contains_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR @> (
  PROCEDURE = stboxContains,
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  COMMUTATOR = <@,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR @> (
  PROCEDURE = stboxContains,
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  COMMUTATOR = <@,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

CREATE FUNCTION stboxContains(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contains_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContains({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contains_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContains({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contains_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR @> (
  PROCEDURE = stboxContains,
  LEFTARG = stbox, RIGHTARG = {TEMP},
  COMMUTATOR = <@,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR @> (
  PROCEDURE = stboxContains,
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  COMMUTATOR = <@,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR @> (
  PROCEDURE = stboxContains,
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  COMMUTATOR = <@,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * Contained
 *****************************************************************************/

CREATE FUNCTION stboxContained(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contained_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContained({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contained_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR <@ (
  PROCEDURE = stboxContained,
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  COMMUTATOR = @>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <@ (
  PROCEDURE = stboxContained,
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  COMMUTATOR = @>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

CREATE FUNCTION stboxContained(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contained_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContained({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contained_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxContained({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Contained_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR <@ (
  PROCEDURE = stboxContained,
  LEFTARG = stbox, RIGHTARG = {TEMP},
  COMMUTATOR = @>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <@ (
  PROCEDURE = stboxContained,
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  COMMUTATOR = @>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR <@ (
  PROCEDURE = stboxContained,
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  COMMUTATOR = @>,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * Overlaps
 *****************************************************************************/

CREATE FUNCTION stboxOverlaps(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overlaps_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverlaps({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overlaps_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR && (
  PROCEDURE = stboxOverlaps,
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  COMMUTATOR = &&,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR && (
  PROCEDURE = stboxOverlaps,
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  COMMUTATOR = &&,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

CREATE FUNCTION stboxOverlaps(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overlaps_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverlaps({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overlaps_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxOverlaps({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Overlaps_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR && (
  PROCEDURE = stboxOverlaps,
  LEFTARG = stbox, RIGHTARG = {TEMP},
  COMMUTATOR = &&,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR && (
  PROCEDURE = stboxOverlaps,
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  COMMUTATOR = &&,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR && (
  PROCEDURE = stboxOverlaps,
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  COMMUTATOR = &&,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * Same
 *****************************************************************************/

CREATE FUNCTION stboxSame(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Same_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxSame({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Same_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR ~= (
  PROCEDURE = stboxSame,
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  COMMUTATOR = ~=,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR ~= (
  PROCEDURE = stboxSame,
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  COMMUTATOR = ~=,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

CREATE FUNCTION stboxSame(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Same_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxSame({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Same_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxSame({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Same_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR ~= (
  PROCEDURE = stboxSame,
  LEFTARG = stbox, RIGHTARG = {TEMP},
  COMMUTATOR = ~=,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR ~= (
  PROCEDURE = stboxSame,
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  COMMUTATOR = ~=,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR ~= (
  PROCEDURE = stboxSame,
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  COMMUTATOR = ~=,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************
 * Adjacent
 *****************************************************************************/

CREATE FUNCTION stboxAdjacent(tstzspan, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Adjacent_tstzspan_temporal'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAdjacent({TEMP}, tstzspan)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Adjacent_temporal_tstzspan'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR -|- (
  PROCEDURE = stboxAdjacent,
  LEFTARG = tstzspan, RIGHTARG = {TEMP},
  COMMUTATOR = -|-,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR -|- (
  PROCEDURE = stboxAdjacent,
  LEFTARG = {TEMP}, RIGHTARG = tstzspan,
  COMMUTATOR = -|-,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/

CREATE FUNCTION stboxAdjacent(stbox, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Adjacent_stbox_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAdjacent({TEMP}, stbox)
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Adjacent_tspatial_stbox'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;
CREATE FUNCTION stboxAdjacent({TEMP}, {TEMP})
  RETURNS boolean
  AS 'MODULE_PATHNAME', 'Adjacent_tspatial_tspatial'
  SUPPORT {SEL}_supportfn
  LANGUAGE C IMMUTABLE STRICT PARALLEL SAFE;

CREATE OPERATOR -|- (
  PROCEDURE = stboxAdjacent,
  LEFTARG = stbox, RIGHTARG = {TEMP},
  COMMUTATOR = -|-,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR -|- (
  PROCEDURE = stboxAdjacent,
  LEFTARG = {TEMP}, RIGHTARG = stbox,
  COMMUTATOR = -|-,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);
CREATE OPERATOR -|- (
  PROCEDURE = stboxAdjacent,
  LEFTARG = {TEMP}, RIGHTARG = {TEMP},
  COMMUTATOR = -|-,
  RESTRICT = {SEL}_sel, JOIN = {SEL}_joinsel
);

/*****************************************************************************/
