name: Test MEOS compilation

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/meos.yml'
      - 'cmake/**'
      - 'meos/**'
      - 'mobilitydb/**'
      - 'postgis/**'
      - 'CMakeLists.txt'
    branch_ignore: gh-pages
  pull_request:
    paths:
      - '.github/workflows/meos.yml'
      - 'cmake/**'
      - 'meos/**'
      - 'mobilitydb/**'
      - 'postgis/**'
      - 'CMakeLists.txt'
    branch_ignore: gh-pages

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgeos-dev \
            libproj-dev \
            libjson-c-dev \
            libgsl-dev

      - name: Build
        run: |
          mkdir build
          cd build
          # Enable the optional types to be able to test them below
          cmake -DCMAKE_BUILD_TYPE=Debug -DMEOS=on -DCBUFFER=on -DJSON=on ..
          make -j $(nproc)
          sudo make install

      - name: Compile and run 01_hello_world.c
        run: |
          cd meos/examples
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
          gcc -Wall -g -I/usr/local/include -o 01_hello_world 01_hello_world.c -L/usr/local/lib -lmeos
          ./01_hello_world

      - name: Compile and run meos/test
        run: |
          cd meos/test
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
          gcc -Wall -g -I/usr/local/include -o bool_test bool_test.c -L/usr/local/lib -lmeos
          ./bool_test
          gcc -Wall -g -I/usr/local/include -o cbuffer_test cbuffer_test.c -L/usr/local/lib -lmeos
          ./cbuffer_test
          gcc -Wall -g -I/usr/local/include -o date_test date_test.c -L/usr/local/lib -lmeos
          ./date_test
          gcc -Wall -g -I/usr/local/include -o float_test float_test.c -L/usr/local/lib -lmeos
          ./float_test
          gcc -Wall -g -I/usr/local/include -o geo_test geo_test.c -L/usr/local/lib -lmeos
          ./geo_test
          gcc -Wall -g -I/usr/local/include -o int_test int_test.c -L/usr/local/lib -lmeos
          ./int_test
          gcc -Wall -g -I/usr/local/include -o interval_test interval_test.c -L/usr/local/lib -lmeos
          ./interval_test
          # gcc -Wall -g -I/usr/local/include -o json_test json_test.c -L/usr/local/lib -lmeos
          # ./json_test
          gcc -Wall -g -I/usr/local/include -o numeric_test numeric_test.c -L/usr/local/lib -lmeos
          ./numeric_test
          gcc -Wall -g -I/usr/local/include -o setspan_test setspan_test.c -L/usr/local/lib -lmeos
          ./setspan_test
          gcc -Wall -g -I/usr/local/include -o tbox_test tbox_test.c -L/usr/local/lib -lmeos
          ./tbox_test
          gcc -Wall -g -I/usr/local/include -o temporal_test temporal_test.c -L/usr/local/lib -lmeos
          ./temporal_test
          gcc -Wall -g -I/usr/local/include -o text_test text_test.c -L/usr/local/lib -lmeos
          ./text_test
          gcc -Wall -g -I/usr/local/include -o time_test time_test.c -L/usr/local/lib -lmeos
          ./time_test
          gcc -Wall -g -I/usr/local/include -o timestamp_test timestamp_test.c -L/usr/local/lib -lmeos
          ./timestamp_test
