name: Test PostgreSQL versions

# 4 * 1 * 2 + 1 (coverage) = 9 jobs are triggered
# Test for supported postgres version
# - except: MobilityDB does not support 9.6
# Allow manual trigger

on:
  workflow_dispatch:
  push:
    branch_ignore: gh-pages
  pull_request:
    branch_ignore: gh-pages

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
        fail-fast: false
        matrix:
          psql: [10,11,12,13]
          postgis: [2.5]
          os: [ubuntu-latest, ubuntu-18.04]
          coverage: [0]
          include:
            - psql: 13
              postgis: 3
              os: ubuntu-latest
              coverage: 1

    steps:
      - uses: actions/checkout@v2

      - name: get postgres version
        run: |
          sudo service postgresql start
          pgver=$(psql --version | grep -Po '(?<=psql \(PostgreSQL\) )[^;]+(?=\.\d \()')
          echo "PGVER=${pgver}" >> $GITHUB_ENV
          PGP=5433
          if [ "${{ matrix.psql }}" == "${pgver}" ]; then PGP=5432; fi
          echo "PGPORT=${PGP}" >> $GITHUB_ENV

      - name: Add PostgreSQL APT repository
        run: |
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ \
            $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgeos++-dev \
            libproj-dev \
            libjson-c-dev \
            libgsl-dev \
            postgresql-${{ matrix.psql }} \
            postgresql-${{ matrix.psql }}-postgis-${{ matrix.postgis }} \
            postgresql-server-dev-${{ matrix.psql }}
          ls /usr/lib/postgresql/${{ matrix.psql }}/lib/
          xzcat --version

      - name: Install liblwgeom for PostGIS 2.5
        if: matrix.postgis == '2.5'
        run: |
          sudo apt-get -y install liblwgeom-dev

      - name: Install coverall dependencies
        if: matrix.coverage == '1'
        run: |
          sudo apt-get -y install lcov

      - name: Configure for gcc
        run: |
          export PATH=/usr/lib/postgresql/${{ matrix.psql }}/bin:$PATH
          mkdir build
          cd build
          cmake -DWITH_COVERAGE=${{ matrix.coverage }} ..

      - name: Build
        run: |
          cd build
          make -j 4
          sudo make install

      - name: test install
        run: |
          sudo service postgresql start
          sudo -u postgres createdb -p ${PGPORT}  ___mobdb___test___
          sudo -u postgres psql -p ${PGPORT}  -d ___mobdb___test___ -c "CREATE EXTENSION mobilitydb CASCADE; SELECT mobilitydb_version()"

      - name: Test
        run: |
          cd build
          make test

      - name: Generate coverage
        if: matrix.coverage == '1'
        run: |
          cd build
          # Previous coverage before embeding liblwgeom
          lcov --capture --directory . --output-file=lcov.info
          # Selecting the coverage information from only the /src directory
          # lcov --capture --directory . --output-file=lcov_temp.info
          # lcov --extract lcov_temp.info */MobilityDB/src/* --output-file=lcov.info

      - name: Coveralls
        if: matrix.coverage == '1'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./build/lcov.info"



